$color-primary: #4767b5;
$color-primary-active: #5172c2;

$color-link-icon: #879fe6;
$color-link-icon-active: #b3ccff;

$color-light-gray: #dddddd;

$color-background-white: #fff;
$color-background-gray: #f6f6f6;

$color-placeholder: #cbcbcb;

$color-text-secondary: #d3d3d3;

$border-solid: 1px $color-light-gray solid;

$thumbnail-size: 50px;

$received-message-background: $color-background-gray;
$sent-message-background: #e4effe;
